<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crie uma conta - Food To Make</title>
    <link rel="stylesheet" href="/public/css/cadastro.css">
    <script defer src="/public/js/signup.js"></script> <!-- Chama o arquivo JS -->
</head>
<body>
    <div class="signup-container">
        <div class="signup-left">
            <div class="logo">
                <img src="/public/img/logo.jpg" alt="Food To Make">
            </div>
        </div>
        <div class="signup-right">
            <h2>Crie uma conta</h2>
            <div class="social-login-container"></div>
            <div class="divider"></div>
            <form id="signupForm">
                <input type="text" id="name" placeholder="Nome completo" required>
                <input type="email" id="email" placeholder="E-mail" required>
                <input type="password" id="password" placeholder="Senha" required>
                <button type="submit">Criar uma conta</button>
            </form>
            <p>Já tem uma conta? <a class="conta" href="#">Faça login aqui.</a></p>
        </div>
    </div>
</body>
</html>
